In [54]:
#training_data = True
training_data = False

In [55]:
import pandas as pd
import os
import numpy as np



pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [56]:
#load the data
if training_data:
    data = pd.read_csv('test_data/raw_data_70_new.csv', low_memory=False)
    enquiry = pd.read_csv('test_data/raw_enquiry_70_new.csv', low_memory=False)
    account = pd.read_csv('test_data/raw_account_70_new.csv', low_memory=False)
        
else:
    data = pd.read_csv('test_data/raw_data_30_new.csv', low_memory=False)
    enquiry = pd.read_csv('test_data/raw_enquiry_30_new.csv', low_memory=False)
    account = pd.read_csv('test_data/raw_account_30_new.csv', low_memory=False)

In [57]:
#data.head()

In [58]:
# both "feature_5","feature_6" contain single value, so I removed it.
features_to_remove = ['dt_opened', 'entry_time', 'feature_2', 'feature_5', 'feature_6', 'feature_8','feature_9', 'feature_10', \
                      'feature_15', 'feature_16', 'feature_17', 'feature_18', 'feature_20', 'feature_21', 'feature_22', 'feature_24', 'feature_44', \
                      'feature_45', 'feature_47', 'feature_49', 'feature_53', 'feature_54', 'feature_61', 'feature_63', 'feature_70',\
                      'feature_73', 'feature_74', 'feature_75', 'feature_77']

In [59]:
#data.isnull().sum(axis=0)

In [60]:
# Fill the missing values. For features with continious values, fill the missing values with mean. For features with categorical 
# features fill the missing values with mode

In [61]:

def data_imputation(data):
    
    data['feature_1']  = data['feature_1'].fillna(data.mode()['feature_1'][0])
    data['feature_3']  = data['feature_3'].fillna(data['feature_3'].mean())
    data['feature_4']  = data['feature_4'].fillna(data.mode()['feature_4'][0])
    data['feature_7']  = data['feature_7'].fillna(data['feature_7'].mean())
    data['feature_11'] = data['feature_11'].fillna(data.mode()['feature_11'][0])
    data['feature_12'] = data['feature_12'].fillna(data.mode()['feature_12'][0])
    data['feature_13'] = data['feature_13'].fillna(data.mode()['feature_13'][0])
    data['feature_14'] = data['feature_14'].fillna(data.mode()['feature_14'][0])
    #data['feature_15'] = data['feature_15'].fillna(data.mode()['feature_15'][0])
    #data['feature_16'] = data['feature_16'].fillna('NA')
    data['feature_19'] = data['feature_19'].fillna(data.mode()['feature_19'][0])
    data['feature_23'] = data['feature_23'].fillna(data.mode()['feature_23'][0])
    data['feature_25'] = data['feature_25'].fillna(data.mode()['feature_25'][0])
    data['feature_26'] = data['feature_26'].fillna(data.mode()['feature_26'][0])
    data['feature_27'] = data['feature_27'].fillna('NA')
    data['feature_28'] = data['feature_28'].fillna('NA')
    data['feature_29'] = data['feature_29'].fillna(data['feature_29'].mean())
    data['feature_30'] = data['feature_30'].fillna(data.mode()['feature_30'][0])
    data['feature_31'] = data['feature_31'].fillna(data.mode()['feature_31'][0])
    data['feature_32'] = data['feature_32'].fillna(data.mode()['feature_32'][0])
    data['feature_33'] = data['feature_33'].fillna(data.mode()['feature_33'][0])
    data['feature_34'] = data['feature_34'].fillna(data.mode()['feature_34'][0])
    data['feature_35'] = data['feature_35'].fillna(data['feature_35'].mean())
    data['feature_36'] = data['feature_36'].fillna('NA')
    data['feature_37'] = data['feature_37'].fillna('NA')
    data['feature_38'] = data['feature_38'].fillna('NA')
    data['feature_39'] = data['feature_39'].fillna(data['feature_39'].mean())
    data['feature_40'] = data['feature_40'].fillna(data.mode()['feature_40'][0])
    data['feature_41'] = data['feature_41'].fillna(data.mode()['feature_41'][0])
    data['feature_42'] = data['feature_42'].fillna(data.mode()['feature_32'][0])
    data['feature_43'] = data['feature_43'].fillna('NA')
    #data['feature_44'] = data['feature_44'].fillna(201301)
    data['feature_46'] = data['feature_46'].fillna('NA')
    data['feature_48'] = data['feature_48'].fillna('NA')
    data['feature_50'] = data['feature_50'].fillna(data.mode()['feature_50'][0])
    data['feature_51'] = data['feature_51'].fillna('NA')
    data['feature_52'] = data['feature_52'].fillna(data['feature_52'].mean())
    data['feature_55'] = data['feature_55'].fillna(data.mode()['feature_55'][0])
    data['feature_56'] = data['feature_56'].fillna(data.mode()['feature_56'][0])
    data['feature_57'] = data['feature_57'].fillna(data.mode()['feature_57'][0])
    data['feature_58'] = data['feature_58'].fillna(data.mode()['feature_58'][0])
    data['feature_59'] = data['feature_59'].fillna(data.mode()['feature_59'][0])
    data['feature_60'] = data['feature_60'].fillna(data.mode()['feature_60'][0])
    data['feature_62'] = data['feature_62'].fillna(data.mode()['feature_62'][0])
    data['feature_64'] = data['feature_64'].fillna(data.mode()['feature_64'][0])
    data['feature_65'] = data['feature_65'].fillna(data['feature_65'].mean())
    data['feature_66'] = data['feature_66'].fillna(data['feature_66'].mean())
    data['feature_67'] = data['feature_67'].fillna(data.mode()['feature_67'][0])
    data['feature_68'] = data['feature_68'].fillna(data.mode()['feature_68'][0])
    data['feature_69'] = data['feature_69'].fillna(data.mode()['feature_69'][0])
    data['feature_71'] = data['feature_71'].fillna(data.mode()['feature_71'][0])
    data['feature_72'] = data['feature_72'].fillna(data.mode()['feature_72'][0])
    data['feature_76'] = data['feature_76'].fillna(data.mode()['feature_76'][0])
    data['feature_78'] = data['feature_78'].fillna(data.mode()['feature_78'][0])
    data['feature_79'] = data['feature_79'].fillna(data.mode()['feature_79'][0])
    
    return data

In [62]:
features = list(data.columns)

features_to_take = [f for f in features if f not in features_to_remove]

# Impute the test and train data
train_data = data_imputation(data)

train_data = train_data[features_to_take]

After data imputations check whether there are any missing values

In [63]:
#train_data.isnull().sum(axis=0)

Check for missing values in the accounts and enquiry files

In [64]:
# enquiry.head()

In [65]:
# account.head()

In [66]:
# account.isnull().sum(axis=0)

In [67]:
# enquiry.isnull().sum(axis=0)

In [68]:
# 1 payment_history_avg_dpd_0_29_bucket
account['dpd_temp'] = account['paymenthistory1'].astype(str).str[3:6]
account['dpd'] = np.where(account['dpd_temp'].str.lower().str.contains("std|xxx|sub|sma|lss|dbt"), np.nan, account['dpd_temp']).astype('float64')
payment_history_avg_dpd_0_29_bucket = account[account['dpd'] < 30].groupby('customer_no')['dpd'].size().reset_index(name='payment_history_avg_dpd_0_29_bucket')
#payment_history_avg_dpd_0_29_bucket.isnull().sum(axis=0)

In [69]:
# 2 total_diff_lastpaymt_opened_dt
account['opened_dt'] = pd.to_datetime(account['opened_dt'])
account['last_paymt_dt'] = pd.to_datetime(account['last_paymt_dt'])
account['diff_in_dates'] = (account['last_paymt_dt'] - account['opened_dt']).dt.days
diff_in_last_pay_date_sum = account.groupby('customer_no')['diff_in_dates'].agg('sum').reset_index(name='total_diff_lastpaymt_opened_dt')
#diff_in_last_pay_date_sum.isnull().sum(axis=0)

In [70]:
# 3 min_months_last_30_plus
min_months_last_30_plus = account[account['dpd'] < 30].groupby('customer_no')['dpd'].size().reset_index(name='min_months_last_30_plus')
#min_months_last_30_plus.isnull().sum(axis=0)

In [71]:
# 4 utilisation_trend
# (total cur_bal_amt/total credit limit) / (mean cur_bal_amt / (mean credit limit + mean_cashlimit))

total_cur_bal_amt = account.groupby('customer_no')['cur_balance_amt'].agg('sum').reset_index(name='total_cur_bal_amt')
mean_cur_bal_amt = account.groupby('customer_no')['cur_balance_amt'].agg('mean').reset_index(name='mean_cur_bal_amt')
mean_credit_limit = account.groupby('customer_no')['creditlimit'].agg('sum').reset_index(name='mean_credit_limit')
mean_cash_limit = account.groupby('customer_no')['cashlimit'].agg('sum').reset_index(name='mean_cash_limit')
total_credit_limit = account.groupby('customer_no')['creditlimit'].agg('sum').reset_index(name='total_credit_limit')
ut = total_cur_bal_amt.merge(mean_cur_bal_amt,on='customer_no').merge(mean_credit_limit,how='left',on='customer_no').merge(mean_cash_limit,how='left',on='customer_no').merge(total_credit_limit,how='left', on='customer_no')    
#ut.isnull().sum(axis=0)

In [72]:
# 5 count_enquiry_recency_365
enquiry['enquiry_dt'] = pd.to_datetime(enquiry['enquiry_dt'])
enquiry['dt_opened'] = pd.to_datetime(enquiry['dt_opened'])
enquiry['diff_in_dates'] = (enquiry['dt_opened'] - enquiry['enquiry_dt']).dt.days
count_enquiry_recency_365 = enquiry.query('diff_in_dates <= 365').groupby(['customer_no']).size().reset_index(name='Enquiries365')
#count_enquiry_recency_365.isnull().sum(axis=0)

In [73]:
# 6 Ratio_currbalance_creditlimit
# Since there are inf and NaN values, first I replaced inf with NaN and then replaced all NaN with 0 
ratio_currbalance_creditlimit = account.groupby('customer_no')['cur_balance_amt', 'creditlimit'].agg('sum').reset_index()
ratio_currbalance_creditlimit['ratio_currbalance_creditlimit'] = ratio_currbalance_creditlimit['cur_balance_amt'] / ratio_currbalance_creditlimit['creditlimit']
ratio_currbalance_creditlimit = ratio_currbalance_creditlimit.drop(['cur_balance_amt', 'creditlimit'], axis = 1)
# Fill infinate values (that were produced because of divide by 0) with NaN
ratio_currbalance_creditlimit[ratio_currbalance_creditlimit==np.inf]=np.nan
ratio_currbalance_creditlimit[ratio_currbalance_creditlimit==-np.inf]=np.nan
# Fill NaN with 0
ratio_currbalance_creditlimit['ratio_currbalance_creditlimit'].fillna(0, inplace=True)
#ratio_currbalance_creditlimit.isnull().sum(axis=0)

In [74]:
# 7 mean_diff_lastpaymt_opened_dt
diff_in_last_pay_date_mean = account.groupby('customer_no')['diff_in_dates'].agg('mean').reset_index(name='average_diff_lastpaymt_opened_dt')
diff_in_last_pay_date_mean.fillna(0, inplace=True)
#diff_in_last_pay_date_mean.isnull().sum(axis=0)

In [75]:
# 8 mean_diff_open_enquiry_dt
mean_diff_open_enquiry_dt = enquiry.groupby('customer_no')['diff_in_dates'].agg('mean').reset_index(name='mean_diff_open_enquiry_dt')
mean_diff_open_enquiry_dt.fillna(0, inplace=True)
#mean_diff_open_enquiry_dt.isnull().sum(axis=0)

In [76]:
# 9 payment_history_mean_length

account['payment_history_variable_length'] = account['paymenthistory1'].str.len() + account['paymenthistory2'].str.len()
payment_history_variable_length = account.groupby('customer_no')['payment_history_variable_length'].agg('mean').reset_index(name='payment_history_variable_length')
payment_history_variable_length.fillna(0, inplace=True)
#payment_history_variable_length.isnull().sum(axis=0)

In [77]:
# 10 max_freq_enquiry 
enquiry['enq_purpose'] = enquiry['enq_purpose'].astype('category')
max_freq_enquiry = enquiry.groupby(['customer_no'])['enq_purpose'].agg(lambda x:x.value_counts().index[0]).reset_index(name='max_freq_enquiry')
#max_freq_enquiry.isnull().sum(axis=0)

In [78]:
# 11 count_enquiry_recency_90
count_enquiry_recency_90 = enquiry.query('diff_in_dates <= 90').groupby(['customer_no']).size().reset_index(name='#Enquiries90')
#count_enquiry_recency_90.isnull().sum(axis=0)

In [79]:
# 12 perc_unsecured_others

def check_secure(row):
    if row['enq_purpose'] in [5, 6, 8, 9, 10, 16, 35, 40, 41, 43, 0, 99]:
        return 'unsecured'
    elif row['enq_purpose'] == np.nan:
        return np.nan
    else:
        return 'secured'

enquiry['security'] = enquiry.apply(check_secure, axis=1)
total_loan = enquiry.groupby('customer_no')['security'].size().reset_index(name='total_loan')
secured_load = enquiry[enquiry['security'] == 'secured'].groupby('customer_no')['security'].size().reset_index(name='secured_loan')
security = total_loan.merge(secured_load, on='customer_no')
security['perc_unsecured_others'] = security['secured_loan']/ security['total_loan']
security = security.drop(['secured_loan', 'total_loan'], axis=1)
#security.isnull().sum(axis=0)

In [80]:
final_df = pd.DataFrame(train_data.\
                        merge(mean_diff_open_enquiry_dt,how='left',on='customer_no').\
                        merge(ratio_currbalance_creditlimit,how='left',on='customer_no').\
                        merge(count_enquiry_recency_90,how='left',on='customer_no').\
                        merge(count_enquiry_recency_365,how='left',on='customer_no').\
                        merge(max_freq_enquiry,how='left', on='customer_no').\
                        merge(diff_in_last_pay_date_sum,how='left', on='customer_no').\
                        merge(diff_in_last_pay_date_mean,how='left', on='customer_no').\
                        merge(payment_history_variable_length,how='left', on='customer_no').\
                        merge(payment_history_avg_dpd_0_29_bucket,how='left', on='customer_no').\
                        merge(ut,how='left', on='customer_no').\
                        merge(security,how='left', on='customer_no').\
                        merge(min_months_last_30_plus,how='left', on='customer_no'))

Check for missing values in the final data frame

In [81]:
#final_df.isnull().sum(axis=0)

In [82]:
train_data.shape

(10240, 54)

In [83]:
mean_diff_open_enquiry_dt.shape

(10240, 2)

In [84]:
ratio_currbalance_creditlimit.shape

(10240, 2)

In [85]:
count_enquiry_recency_90.shape

(5005, 2)

In [86]:
count_enquiry_recency_365.shape

(9194, 2)

In [87]:
max_freq_enquiry.shape

(10240, 2)

In [88]:
diff_in_last_pay_date_sum.shape

(10240, 2)

In [89]:
diff_in_last_pay_date_mean.shape

(10240, 2)

In [90]:
payment_history_variable_length.shape

(10240, 2)

In [91]:
payment_history_avg_dpd_0_29_bucket.shape

(10194, 2)

In [92]:
ut.shape

(10240, 6)

In [93]:
security.shape

(6392, 2)

In [94]:
min_months_last_30_plus.shape

(10194, 2)

In [95]:
final_df.shape

(10240, 70)

In [96]:
#final_df['min_months_last_30_plus'].max()

In [97]:
#final_df['perc_unsecured_others'].describe()

In [98]:
#final_df['ratio_currbalance_creditlimit'] =
#

# Fill the missing values(that are generated because of merging new feature columns) with 0.
final_df['#Enquiries90'] = final_df['#Enquiries90'].fillna(0)
final_df['Enquiries365'] = final_df['Enquiries365'].fillna(0)
final_df['payment_history_avg_dpd_0_29_bucket'] = final_df['payment_history_avg_dpd_0_29_bucket'].fillna(0)
final_df['perc_unsecured_others'] = final_df['perc_unsecured_others'].fillna(final_df['perc_unsecured_others'].max())
final_df['min_months_last_30_plus'] = final_df['min_months_last_30_plus'].fillna(final_df['min_months_last_30_plus'].max())
#final_df.isnull().sum(axis=0)

In [99]:
final_df = final_df.drop(['customer_no'], axis=1)

In [100]:
final_df

             feature_1   feature_3  feature_4  feature_7 feature_11 feature_12 feature_13  feature_14  feature_19 feature_23  feature_25  feature_26     feature_27                    feature_28  feature_29  feature_30  feature_31 feature_32 feature_33  feature_34  feature_35               feature_36                  feature_37                     feature_38  feature_39  feature_40  feature_41 feature_42           feature_43       feature_46                feature_48 feature_50                            feature_51  feature_52  feature_55  feature_56 feature_57 feature_58 feature_59 feature_60 feature_62  feature_64  feature_65  feature_66  feature_67  feature_68  feature_69  feature_71 feature_72  feature_76  feature_78 feature_79  Bad_label  mean_diff_open_enquiry_dt  ratio_currbalance_creditlimit  #Enquiries90  Enquiries365  max_freq_enquiry  total_diff_lastpaymt_opened_dt  average_diff_lastpaymt_opened_dt  payment_history_variable_length  payment_history_avg_dpd_0_29_bucket  \
0             Insignia  726.000000        1.0  1200000.0          Y        IS1        PD3         0.0         2.0          N         1.0         3.0             NA                          Pune    411036.0      1999.0         0.0       Self          Y         1.0    200000.0         Private Ltd. Co.  Banking/Financial Services                       DIRECTOR      1999.0         0.0        11.0          0                 Pune         PAN Card                        NA          N                                    NA         0.0         3.0        21.0          Y          N          Y          N          Y        21.0        16.0    411036.0         0.0         1.0    200000.0        21.0          R         0.0         1.0          N          0                1343.575758                      29.673733           0.0           3.0               2.0                         14207.0                       1291.545455                       114.000000                                 10.0
1             Insignia  844.000000        1.0   300000.0          Y        IS1        PD3         0.0         2.0          N         1.0         0.0             NA              Kolkata / Howrah    700019.0      1964.0         0.0       Self          Y         2.0     70000.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Kolkata               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         3.0        35.0          Y          Y          Y          N          Y        35.0        58.0    700019.0         0.0         2.0     70000.0        35.0          R         0.0         1.0          N          0                1370.500000                       0.000000           0.0           0.0              10.0                           817.0                        817.000000                       120.000000                                  1.0
2             Insignia  723.000000        3.0  1500000.0          Y        IS2        PD3         0.0         1.0          N         1.0         0.0             NA                     New Delhi    110017.0      1970.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0            New Delhi               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        10.0          Y          Y          Y          N          Y        10.0       157.0    110017.0         0.0         2.0         1.0        10.0          R         0.0         1.0          N          0                1914.705882                      19.404914           1.0           1.0               2.0                         17867.0                       1786.700000                       107.666667                                  9.0
3             Insignia  778.000000        1.0  2500000.0          Y        IS2        PD3         0.0         1.0          N         1.0         3.0             NA                     New Delhi    110062.0      1974.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0            New Delhi         PAN Card                        NA          N                                    NA         0.0         1.0        10.0          Y          N          Y          N          Y        10.0       157.0    110062.0         0.0         2.0         1.0        10.0          O         0.0         1.0          N          0                2016.400000                       2.466711           0.0           2.0               5.0                         35033.0                       1592.409091                       106.153846                                 21.0
4             Insignia  810.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         1.0         1.0             NA  Mumbai / Navi Mumbai / Thane    400018.0      2000.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0               Mumbai               NA    The Ratnakar Bank Ltd.          Y                                    NA         0.0         1.0        21.0          Y          Y          Y          Y          Y        21.0        15.0    400018.0         0.0         2.0         1.0        21.0          R         1.0         2.0          N          0                 633.800000                       0.120417           0.0           2.0              51.0                         27870.0                       6967.500000                       110.250000                                  5.0
5             Insignia  601.000000        2.0   500000.0          Y        IS1        PD3         0.0         1.0          N         2.0         0.0             NA                          Pune    411036.0      1988.0         0.0      Paren          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0                 Pune         PAN Card    The Ratnakar Bank Ltd.          Y                         Citibank N.A.         0.0         1.0        21.0          Y          Y          Y          Y          Y        21.0        16.0    411036.0         0.0         2.0         1.0        21.0          R         0.0         1.0          N          0                1128.307692                      16.302214           0.0           2.0              10.0                          6637.0                       1659.250000                       110.000000                                  4.0
6             Insignia  712.000000        1.0  1000000.0          Y        IS1        PD3         0.0         1.0          N         1.0         0.0             NA                       Chennai    600010.0      2012.0         0.0       Self          Y         2.0    300000.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Chennai         PAN Card                        NA          N                                    NA         0.0         1.0        31.0          Y          N          Y          N          Y        31.0        13.0    600010.0         0.0         2.0    300000.0        31.0          R         0.0         1.0          N          0                 453.666667                       0.126017           0.0           3.0              10.0                           751.0                        375.500000                        69.000000                                  2.0
7             Insignia  620.000000        2.0  1000000.0          Y        IS1        PD3         0.0         1.0          N         1.0         1.0             NA              Kolkata / Howrah    700026.0      2000.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Kolkata               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        35.0          Y          Y          Y          Y          Y        35.0        58.0    700026.0         0.0         2.0         1.0        35.0          O         0.0         1.0          N          0                1905.454545                       0.445266           1.0           1.0              10.0                         18975.0                       1459.615385                       104.250000                                 15.0
8             Insignia  772.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         1.0         2.0             NA  Mumbai / Navi Mumbai / Thane    400011.0      2014.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0               Mumbai               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        21.0          Y          Y          Y          Y          Y        21.0        15.0    400011.0         0.0         2.0         1.0        21.0          R         0.0         2.0          N          0                1894.588235                       0.061667           0.0           2.0              10.0                          4695.0                        782.500000                       103.500000                                  8.0
9      Platinum Maxima  702.000000        3.0   100000.0          Y        PM1        PD3         0.0         1.0          Y         1.0         1.0  Post-Graduate                          Pune    411007.0      2000.0         0.0      Paren          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0                 Pune         PAN Card                        NA          Y                             HDFC Bank    311000.0         1.0        21.0          Y          N          Y          N          Y        21.0        16.0    411007.0         0.0         2.0         1.0        21.0          R         0.0         1.0          N          0                1779.680000                       2.548681           0.0           8.0               5.0                         30649.0                       1277.041667                       103.941176                                 27.0
10            Insignia  794.000000        1.0  1200000.0          Y        IS2        PD3         0.0         1.0          N         1.0         2.0             NA                          Pune    411027.0      1964.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0                 Pune         PAN Card    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        21.0          Y          Y          Y          N          Y        21.0        16.0    411027.0         0.0         2.0         1.0        21.0          R         0.0         1.0          N          0                 437.500000                       0.044290           1.0           2.0              51.0                         13767.0                       3441.750000                       120.000000                                  5.0
11            Insignia  670.000000        3.0  1200000.0          Y        IS1        PD3         0.0         1.0          N         1.0         0.0             NA                       Chennai    600113.0      1964.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Chennai               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        31.0          Y          Y          Y          Y          Y        31.0        13.0    600113.0         0.0         2.0         1.0        31.0          O         0.0         1.0          N          0                 997.036364                      33.106462           6.0          13.0               0.0                         30794.0                       1399.727273                       106.750000                                 18.0
12            Insignia  775.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         1.0         0.0             NA                         Salem    636016.0      1977.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0                Karur               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        31.0          Y          Y          Y          N          Y        31.0       172.0    636016.0         0.0         2.0         1.0        31.0          R         0.0         1.0          N          0                1128.222222                       0.347102           0.0           1.0              51.0                          5218.0                       1043.600000                       120.000000                                  4.0
13            Insignia  786.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         1.0         0.0             NA                         Salem    636004.0      1984.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0                Karur         PAN Card    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        31.0          Y          Y          Y          Y          Y        31.0       172.0    636004.0         0.0         2.0         1.0        31.0          R         0.0         1.0          N          0                1551.416667                       4.738515           0.0           1.0              51.0                          4861.0                       1215.250000                       120.000000                                  3.0
14            Insignia  867.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         1.0         2.0             NA                     New Delhi    110030.0      1990.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0            New Delhi               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        10.0          Y          Y          Y          Y          Y        10.0       157.0    110030.0         0.0         2.0         1.0        10.0          R         0.0         1.0          N          0                2891.000000                      -0.032000           0.0           0.0               1.0                         16083.0                       3216.600000                       118.000000                                  4.0
15            Insignia  796.000000        1.0   700000.0          Y        IS1        PD3         0.0         1.0          N         1.0         0.0             NA                     New Delhi    110029.0      1964.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Gurgaon         PAN Card    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        10.0          Y          Y          Y          Y          Y        10.0       157.0    110029.0         0.0         2.0         1.0        13.0          R         0.0         1.0          N          0                1718.172414                      10.685800           0.0           2.0              51.0                         21664.0                       1969.454545                       109.333333                                 11.0
16            Insignia  789.000000        1.0   500000.0          Y        IS1        PD3         0.0         1.0          N         2.0         2.0             NA  Mumbai / Navi Mumbai / Thane    400093.0      2000.0         0.0      Paren          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0               Mumbai               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        21.0          Y          Y          Y          Y          Y        21.0        15.0    400093.0         0.0         2.0         1.0        21.0          O         0.0         1.0          N          0                1399.500000                       0.000000           0.0           2.0              10.0                          1721.0                        860.500000                       101.250000                                  4.0
17            Insignia  694.000000        1.0   167000.0          Y        IS2        PD3         0.0         1.0          N         1.0         1.0             NA  Mumbai / Navi Mumbai / Thane    400049.0      1995.0         0.0      Paren          Y         2.0   1000000.0                       NA                          NA                             NA         0.0         0.0         0.0          0               Mumbai               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        21.0          Y          Y          Y          Y          Y        21.0        15.0    400049.0         0.0         2.0   1000000.0        21.0          O         0.0         1.0          N          0                1698.631579                       0.012836           1.0           2.0               0.0                         21342.0                       1940.181818                       111.300000                                  9.0
18            Insignia  747.000000        1.0   350000.0          Y        IS1        PD3         0.0         1.0          N         1.0         2.0             NA              Kolkata / Howrah    711102.0      1995.0         0.0       Self          Y         2.0         1.0                       NA                          NA                             NA         0.0         0.0         0.0          0              Kolkata               NA    The Ratnakar Bank Ltd.          N                                    NA         0.0         1.0        35.0          Y          Y          Y          Y          Y        35.0       251.0    711102.0         0.0         2.0         1.0        35.0          O         0.0         1.0          N          0                1796.277778                       7.837468           1.0           6.0              10.0                         15117.0                       1162.846154                       114.000000                                 20.0

In [101]:
#final_df.isnull().sum(axis=0)

Define categorical features

In [102]:
cat_vars = ['feature_1', 'feature_4', 'feature_11', 'feature_12', 'feature_13', 'feature_14', 'feature_19',\
            'feature_23', 'feature_25', 'feature_26', 'feature_27', 'feature_28', 'feature_30', 'feature_31', 'feature_32',\
            'feature_33', 'feature_34', 'feature_36', 'feature_37', 'feature_38', 'feature_39', 'feature_40','feature_41',\
            'feature_42', 'feature_43', 'feature_46', 'feature_48', 'feature_50', 'feature_51', 'feature_55','feature_56',\
           'feature_57', 'feature_58', 'feature_59', 'feature_60', 'feature_62', 'feature_64', 'feature_67','feature_68',\
            'feature_71', 'feature_72', 'feature_76','feature_78', 'feature_79', 'Bad_label']

In [103]:
features = list(final_df.columns)
# get the continious features
con_vars = list(set(features) - set(cat_vars))

In [104]:
# Check for infinite values
for col in con_vars:
    data = final_df[col]
    x = np.any(np.isinf(data))
    if x:
        print(col)

Check for NaN

In [105]:
np.isnan(final_df[con_vars].values.any())

False

##### I tried to apply scaling on continious features, but it reduced the performance

In [106]:
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
def get_model(fileName):
    output = open(fileName, 'rb')
    le = pickle.load(output)
    output.close()
    return le

def set_model(clf, fileName):
    output = open(fileName, 'wb')
    pickle.dump(clf, output)
    output.close()

In [107]:
#Conversion of categorical features using LabelEncoder
for col in cat_vars:
    if training_data:
        le = LabelEncoder()
        final_df[col] = le.fit_transform(final_df[col].astype(str))
        set_model(le, 'LabelEncoder.pkl')
    else:
        le  = get_model('LabelEncoder.pkl')
        final_df[col] = le.fit_transform(final_df[col].astype(str))

In [109]:
if training_data:
    final_df.to_csv('new1_data_70.csv', sep=',')
else:
    final_df.to_csv('new1_data_30.csv', sep=',')